---
title: Kontak
layout: default
bodyClass: page-contact
---

<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Kontak</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <ul>
        <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">
            {{ site.data.contact.email }}</a></li>
        {% if site.data.contact.address %}
        <li><strong>Address: </strong>{{ site.data.contact.address }}</li>
        {% endif %}
      </ul>
      <div style="margin-top: 5%; margin-bottom: 5%;">&nbsp;</div>
      <div class="container pb-6">
        <div class="row">
          {% for team in site.team %}
          <div class="col-12 col-md-6 mb-1">
            <div class="team team-summary">
              {% if team.image %}
              <div class="team-image">
                <img
                  alt="{{ team.title }} logo"
                  class="img-fluid mb-2"
                  src="{{site.baseurl}}{{ team.image }}"
                />
              </div>
              {% endif %}
              <div class="team-meta">
                <h2 class="team-name">{{ team.title }}</h2>
                <p class="team-description">{{ team.jobtitle }}</p>
                {% if team.linkedinurl %}
                <a target="_blank" href="tel:{{ team.phone }}">Phone</a>
                 | 
                <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a>
                 | 
                <a target="_blank" href="{{ team.instagram }}">Instagram</a>
                {% endif %}
              </div>
              <div class="team-content">{{ team.content }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>