<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Halaman Utama</a></li>
    <li><a href="{{site.baseurl}}/jasa/" class="{% if page.url contains 'team' %}current{% endif %}">Jasa</a></li>
    <li><a href="{{site.baseurl}}/diskusi/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Diskusi</a></li>
    <li><a href="{{site.baseurl}}/kontak/" class="{% if page.url contains 'contact' %}current{% endif %}">Kontak</a></li>
  </ul>
</div>